* {
  box-sizing: border-box;
}
.register {
  min-width: 300px;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  margin: 100px auto;
  background-color:rgba(215, 219, 219, 0.62);
  color: rgb(135, 136, 138);
  font-family: 'Roboto', sans-serif;
}
.title-text {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 40px;
}
.title-register {
  text-align: center;
  font-size: 36px;
  color: rgb(135, 136, 138);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title-register::before,
.title-register::after {
  content: '';
  width: 100px;
  height: 2px;
  background-color: rgb(135, 136, 138);
}
.form-register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
  margin: 30px 0;
}
.cover-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 
.first-name-user,
.last-name-user {
  width: 100%;
  padding: 10px;
}
.first-name-user {
  margin-right: 10px;
}
.last-name-user {
  margin-left: 10px;
}
.email,
.password {
  width: 100%;
  padding: 10px;
}
.checkbox {
  background-color: rgb(150, 151, 151);
  accent-color: green;
}
.btn-submit {
  width: 100%;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(5, 131, 32);
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}
.btn-submit:hover {
  background-color: #ffffff;
  color: rgb(5, 131, 32);
  border: 1px solid rgb(150, 151, 151);
  transition: 0.9s;
}
.link {
  text-decoration: none;
  color: rgb(5, 131, 32);
}
